.header {
    display: flex;
    font-size: 25px;
    font-family: Times 'Times New Roman';
    color: black;
    border: 10px solid crimson;
}
.image {
    display: flex;
    justify-content: center;

}
body {
    background-size: cover;
    justify-content: center;
    background-color: black;

}
p {
    color:whitesmoke;
    display: flex;
    font-size: 20px;
    justify-content: center;
    
}
h1 {
    color:whitesmoke;
}

.profile {
    display: flex;
    flex-direction: column;
}